    </div>

    <div id="footer">
      Created with the <a href="http://bitbucket.org/ivan-iver/revel">Revel framework</a> and really inspirated from the booking sample application provided by <a href="http://www.playframework.org">play framework</a>, which was really inspired by the booking sample application provided by the <a href="http://seamframework.org/">seam framework</a>.
    </div>

  </body>
</html>
